.lofi-box {
    width: 300px;
    height: 230px;
    border: 1px solid grey;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 3px;
    background-color: aliceblue;
    position: relative;
    min-width: 250px;
    min-height: 200px;
    box-shadow: 2px 2px 3px silver;
    user-select: none;
    margin: 0px;
    max-width: 500px;
    max-height: 350px;
    /* visibility: hidden; */
}

.lofi-box:hover {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.lofi-box:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.lofi-box > h3 {
    margin: 12px auto 11px;
}

.lofi-box > hr {
    margin: 0px;
    width: calc(99.5%);
    border-color: silver;
}

.lofi-box > iframe {
    min-width: 210px;
    min-height: 120px;
    width: auto;
    height: 100%;
    margin: 15px 15px;
    border-radius: calc(2.8px);
}