/* -------------------------------- todo-list-container ------------------------------- */

.todolist-header {
    /* border: 1px solid black; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 220px;
    height: 26px;
    margin: 0px auto 10px;
}
.todolist-header > h3 {
    text-align: center;
    margin: auto;
}


.todolist-header > button {
    margin: auto 0px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px ;
    border: 1px solid silver;    
    background-color: aliceblue;
    color: whitesmoke;
}

.todolist-header > button:hover {
    background-color: rgb(219, 228, 238);
    border-radius: 5px;
}

.todolist-header > button > img {
    width: 18px;
    height: 18px;
    margin: 0px;
    position: static;
}

.todo-card-container {
    background-color: aliceblue;
    margin: 0px auto 8px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 3px silver;
    padding: 10px 0px 8px;
    width: 250px;
    height: 300px;
    overflow: auto;
    position: relative;
    user-select: none;
    overflow: unset;
}

.todo-card-container > hr {
    /* border: 1px solid silver; */
    border-color: silver;
}

/* -------------------------------- todo-card ------------------------------- */

.todo-card {
    border: 1px solid black;
    box-shadow: 1px 1px 2px grey;
    width: 220px;
    height: 28px;
    margin: 0px auto 4px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex;
    align-items: center;
    border-radius: 1px;
    user-select: none;
    background-color: aliceblue;
}

.todo-card-form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex;
    align-items: center;
    user-select: none;
    width: 100%;
    /* background-color: red; */
    margin: auto;
}

.todo-checkbox {
    border: 1px solid darkolivegreen;
    box-shadow: 1px 1px 2px silver;
    width: 16px;
    height: 16px;
    margin: auto 6px;
    border-radius: 3px;
    background-color: whitesmoke;
}

.todo-input {
    border: 1px solid darkolivegreen;
    width: 155px;
    height: 14px;
    /* margin: auto 0px auto 0px; */
    border-radius: 3px;
    background-color: whitesmoke;
}

.todo-text {
    /* border: 1px solid darkolivegreen; */
    /* box-shadow: 1px 1px 2px silver; */
    width: 155px;
    font-size: 14px;
    height: 16px;
    margin: auto;
}

.todo-delete-btn {
    border-radius: 3px ;
    border: 1px solid darkolivegreen;
    background-color: aliceblue;
    color: whitesmoke;
    margin: 1px 0px;
    margin: auto 6px;
    width: 18px;
    height: 18px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.todo-delete-btn > img {
    width: 13px;
    height: 13px;
    margin: 0px auto;
}

.todo-delete-btn:hover {
    background-color: rgb(219, 228, 238);
    border-radius: 5px;
}

/* -------------------------------- todo-card-box ------------------------------- */

.todo-card-box {
    border-radius: calc(2.5px);
    border-top: 0px;
    max-width: 225px;
    margin: auto;
    height: 200px;
    overflow-y: auto;
    padding: 5px;
}

::-webkit-scrollbar {
    width: 3px;
}
  
::-webkit-scrollbar-track {
    background: aliceblue;
    border: 1px solid darkslategray;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb {
    background: darkslategray;
    border: 1px solid darkslategray;
    border-width: calc(0.5px);  
    border-radius: 3px;
}
  
  